/* body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
/* 
.app-container {
  background-color: white;
  max-width: 390px; */
   /* iPhone width */
  /* width: 100%;
  height: 844px;  */
  /* iPhone height */
  /* border-radius: 20px;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  padding: 1rem;
} */

/* .step-card {
  background: #fff4ec;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  text-align: center;
} */

/* .step-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.step-card h2 {
  margin: 0.5rem 0;
}

.step-card button {
  padding: 0.5rem 1rem;
  background-color: #ff914d;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.step-card button:hover {
  background-color: #ff7300;
} */






/* src/App.css */

body, html, #root {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: white;
}

.app {
  text-align: center;
  padding: 1rem;
}

.phone-container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background: #f9f9f9;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
