
/* src/App.css */

body, html, #root {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: white;
}

.app {
  text-align: center;
  padding: 1rem;
}

.phone-container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background: #f9f9f9;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
